@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Lato&display=swap');

html {
  height  : 100%;
  overflow: hidden;
  position: relative;
}

#main {
  width: 650px;
  height: 420px;
  position: absolute;
  left: calc(50% - 325px);
  top: calc(50% - 210px);
  border-radius: 50px;
  box-shadow: 0 3px 20px -14px #000;
  padding: 100px 0;
  box-sizing: border-box;
  overflow: hidden;
  --offset: -10430px;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  background: #fff;
  font-family: "Lato", sans-serif;
  height  : 100%;
  overflow: hidden;
  position: relative;
  touch-action: none;
  --dark-brown: #5b4c3c;
  --light-brown: #80705f;
}
body:not(.full) #amount:before {
  content: "Donner ";
}
#amount:after {
  content: " €";
}
#amount {
  font-size: 20px;
  height: 35px;
  margin-bottom: 5px;
  display: inline-block;
}
#amount input {
  border: 2px solid transparent;
  box-shadow: inset 0 1px 10px -8px #000;
  border-radius: 10px;
  padding: 0 8px;
  font-family: "IBM Plex Mono", monospace;
  width: 100px;
  text-align: right;
  margin: 0 10px;
  transition: all .2s ease;
  outline: none;
  font-size: 20px;
  height: 35px;
  background: #fff;
  color: #000;
  -webkit-appearance: none;
  appearance: textfield;
}
#main .button {
  display: inline-block;
  width: calc(33% - 20px);
  line-height: 36px;
  border-radius: 15px;
  box-shadow: 0 3px 9px -7px #000;
  cursor: pointer;
  transition: all .2s ease;
  border: 2px solid transparent;
  background: #fff;
}
button {
  appearance: none;
  outline: none;
}
#default-amounts {
  width: 50%;
  left: 25%;
  text-align: center;
  opacity: 1;
  transition: all .2s ease;
  position: absolute;
  top: 60%;
}
.button:not(:last-child) {
  margin-right: 15px;
}
#main::before, #main::after {
  content: '';
  position: absolute;
  width: 6000px;
  height: 6000px;
  bottom: var(--offset);
  left: 50%;
  border-radius: 47%;
  transition: 2s bottom ease-in-out;
}
 
#main::before {
  background: var(--light-brown);
  animation: waves 8s linear infinite;
}
 
#main::after {
  background: var(--dark-brown);
  animation: waves 15s linear infinite;
}
 
@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
   
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
   
  100% {
    transform: rotate(360deg);
  }
}
body.full #main {
  --offset: -10000px;
}
#main #pay {
  position: absolute;
  bottom: 20px;
  z-index: 1;
  border: 0;
  width: 20%;
  line-height: 40px;
  padding: 0;
  margin: 0;
  left: 40%;
  border-radius: 20px;
  background: #fff2;
  color: #fff;
  box-shadow: 0 2px 9px -4px #000;
  font-size: 16px;
  cursor: pointer;
  transition: .5s all ease, 0s color, .1s box-shadow ease;
  display: inline-block;
  outline: none;
}
#main #pay:focus, #main #pay:active {
  box-shadow: 0 2px 9px -4px #000, inset 0 0 0 2px #fff6;
  background: #fff2;
}
#main #pay:hover {
  background: #fff3;
  box-shadow: 0 3px 15px -6px #000;
}

#tax:after {
  content: " € de frais)";
}
#main span {
  text-align: center;
}
#tax:before {
  content: "(dont ";
}
#tax {
  font-size: 13px;
}
#amounts {
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  background: #fff;
  width: 60%;
  left: 20%;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  top: 10%;
  padding: 10px 0;
}

#main.loading #pay {
  color: transparent;
  width: 10px;
  height: 10px;
  left: calc(50% - 5px);
  background: #fff3;
  pointer-events: none;
  box-shadow: 15px 0 0 #fff3, -15px 0 0 #fff3;
  animation: loading 3s linear infinite;
}
@keyframes loading {
  0% {
    background: #fff3;
    box-shadow: 15px 0 0 #fff3, -15px 0 0 #fff3;
  }

  25% {
    background: #fff3;
    box-shadow: 15px 0 0 #fff3, -15px 0 0 #fffa;
  }

  50% {
    background: #fffa;
    box-shadow: 15px 0 0 #fff3, -15px 0 0 #fff3;
  }

  75% {
    background: #fff3;
    box-shadow: 15px 0 0 #fffa, -15px 0 0 #fff3;
  }

  100% {
    background: #fff3;
    box-shadow: 15px 0 0 #fff3, -15px 0 0 #fff3;
  }
}

body.full #back {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30px;
  left: 30px;
  background: #fff2;
  z-index: 1;
  border-radius: 20px;
  cursor: pointer;
}
body.full #back:after {
  content: "";
  height: 10px;
  width: 10px;
  border-bottom: 5px solid #fffa;
  border-left: 5px solid #fffa;
  display: block;
  transform: rotate(45deg);
  position: absolute;
  top: 13px;
  left: 14px;
  transition: all .2s ease;
}

#main .button:hover {
  background: #f8f8f8;
  box-shadow: 0 4px 9px -8px #000, inset 0 2px 5px -7px #000;
}
#amount input:focus {
  border: 2px solid #5b4c3c60;
}
#main .button:focus, #main .button:active {
  border: 2px solid #5b4c3c60;
}
body.full #form {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

#card-error {
  color: rgb(105, 115, 134);
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}

#card {
  padding: 10px;
}

body.full #amount input {
  width: calc(100% - 50px);
  text-align: center;
  box-shadow: none;
}
body.full #amounts {
  box-shadow: 0 3px 10px -5px #000;
}
#main.loading #back::after {
  border: 0;
  height: 8px;
  width: 8px;
  background: #fffa;
  border-radius: 4px;
  top: 6px;
  left: 15px;
}
#main.loading #back {
  pointer-events: none;
}

#form {
  opacity: 0;
  width: 80%;
  left: 10%;
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  background: #fff;
  bottom: 25%;
  display: block;
  transition: all .2s ease;
}

#main.loading #back {
  animation: spin 2s linear infinite;
}

#main.loading:not(.loaded) #form {
  opacity: 0;
}

.loading:not(.loaded) #amounts, .done #amounts {
  opacity: 0;
}

body.full #default-amounts, .done #default-amounts {
  opacity: 0;
}

#main .button:after {
  content: " €";
}

.done #pay:after {
  content: "Accueil";
}
body.full #pay:after {
  content: "Payer";
}
#pay:after {
  content: "Continuer";
}

#thanks {
  opacity: 0;
  transition: all .5s ease;
  width: 60%;
  position: absolute;
  top: 100px;
  font-size: 40px;
  color: #555;
  left: 20%;
  display: none;
}
.done #thanks {
  opacity: 1;
  display: inline-block;
}
#thanks :last-child {
  font-size: 18px;
  margin-top: 15px;
  text-align: justify;
  display: inline-block;
}
#thanks :last-child tt {
  font-size: 16px;
  display: inline;
}

#goal-header::before {
  content: "Objectif du mois";
}
#goal-cup {
  position: relative;
  height: 30px;
  width: 8px;
  transform: rotate(45deg);
  left: 77px;
}
#goal-cup::after {
  display: block;
  border-radius: 2px 2px 15px 15px;
  background: linear-gradient(to right, #0001, #0000), linear-gradient(to top, var(--dark-brown) calc(var(--goal) * .8), var(--light-brown) calc(var(--goal) * .8), var(--light-brown) var(--goal), #fff var(--goal));
  height: 80px;
  content: '';
  width: 70px;
  position: relative;
  border: 5px solid #ddd;
  border-top: 0;
  transform: rotate(-45deg);
  top: 18px;
}
#goal-cup::before {
  content: "";
  display: block;
  background: #0000;
  height: 14px;
  width: 20px;
  border-radius: 100px;
  border: 8px solid #ddd;
  position: absolute;
  top: 12px;
  left: 52px;
  transform: rotate(-45deg);
}
#goal-cup.full {
  --goal: 100%;
  box-shadow: -12px 12px #0002, 8px -8px #0002;
}
#goal-amount {
  position: relative;
  top: 86px;
}
#goal {
  padding: 5px;
  box-sizing: border-box;
}
#goal > span {
  width: 100%;
  text-align: center;
  display: inline-block;
}
#transactions {
  perspective: 1000px;
  width: 160px;
  height: 170px;
  position: absolute;
  right: calc(25% - 242.5px);
  top: calc(50% - 85px);
  z-index: 10;
  opacity: 1;
  transition: all .5s ease;
}
#transactions-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 1px 8px -5px #000;
  border-radius: 20px;
}
#transactions:hover #transactions-inner {
  transform: rotateY(180deg);
}
#transactions-inner > * {
  position: absolute;
  width: 160px;
  height: 170px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 20px;
  background: #fff;
}
#payments {
  background: #fff;
  transform: rotateY(180deg);
  text-align: center;
}
.card .icon {
  height: 25px;
  width: 40px;
  border-radius: 2px;
  background: #ddd;
  margin-left: 3px;
}
.card .icon:after {
  width: 100%;
  height: 4px;
  content: "";
  background: #000;
  display: block;
  top: 3px;
  position: relative;
}
.payment {
  width: 46px;
  height: 43px;
  display: inline-block;
  border-radius: 3px;
  margin: 3px;
  box-shadow: 0 1px 3px -2px #000;
  font-size: 11px;
  vertical-align: top;
  cursor: default;
}
.payment .icon {
  margin-top: 3px;
}
.cash .icon {
  height: 21px;
  width: 40px;
  background: linear-gradient(to right, #ddd 8px, #e1b48c 8px, #e1b48c 38px, #ddd 38px);
  margin-left: 3px;
  position: relative;
  top: 2px;
  margin-bottom: 4px;
}
.cash .icon:before {
  width: 4px;
  height: 3px;
  content: "";
  background: #4646d2;
  display: block;
  position: relative;
  top: 2px;
  left: 4px;
}
.cash .icon:after {
  display: block;
  height: 1px;
  width: 4px;
  position: absolute;
  right: 1px;
  box-shadow: 17px -2px var(--right-color), 17px 0 var(--right-color), 17px 2px var(--right-color), 17px 4px var(--right-color), 17px 6px var(--right-color), 17px 8px var(--right-color), 17px 10px var(--right-color), 17px 12px var(--right-color), 17px 14px var(--right-color);
  content: "€";
  top: 4px;
  left: 18px;
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  --right-color: #e86;
}
#payments > span {
  position: relative;
  top: 2px;
}
#payments > span:after {
  content: "Derniers paiements";
}
@media screen and (max-width: 1100px) {
  #main {
    left: calc(33.333333% - 270px + (2 * env(safe-area-inset-left) - env(safe-area-inset-right)) / 3);
  }
  #transactions {
    right: calc(33.333333% - 270px + (2 * env(safe-area-inset-right) - env(safe-area-inset-left)) / 3);
  }
}
@media screen and (max-width: 850px) {
  #main {
    left: calc(50% - 325px);
  }
  #transactions-inner {
    display: none;
    pointer-events: none;
  }
  #transactions {
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    background: #0004;
    border-radius: 25px;
  }
  #transactions::after {
    content: "";
    width: 50%;
    height: 50%;
    display: inline-block;
    background: linear-gradient(to top, #0000 40%, #fff 40%, #fff 60%, #0000 60%), linear-gradient(60deg, #0000 41.34%, #fff 41.34%, #fff 58.66%, #0000 58.66%), linear-gradient(120deg, #0000 41.34%, #fff 41.34%, #fff 58.66%, #0000 58.66%);
    top: 25%;
    left: 25%;
    position: relative;
    border-radius: 100%;
  }
  #transactions:hover #transactions-inner {
    display: block;
    transform: none;
    position: absolute;
    top: -20px;
    right: -20px;
    width: 100vw;
    height: 100vh;
    background: #0008;
    border-radius: 0;
  }
  #transactions:hover #goal {
    top: calc(50% - 85px);
    left: calc(33.333333% - 106.666667px);
  }
  #transactions:hover #payments {
    top: calc(50% - 85px);
    right: calc(33.333333% - 106.666667px);
  }
  #payments {
    transform: none;
  }
  body.full #transactions {
    opacity: 0;
  }
}
@media screen and (max-width: 700px) {
  #main {
    width: 100%;
    left: 0;
    border-radius: 0;
  }
}
@media screen and (max-height: 450px) {
  #main {
    height: 100%;
    top: 0;
    border-radius: 0;
  }
  body.full #main {
    --offset: -9000px
  }
}
@media screen and (max-width: 500px) {
  #main #pay {
    width: 40%;
    left: 30%;
  }
  #amounts {
    width: 80%;
    left: 10%;
  }
  #default-amounts {
    width: 70%;
    left: 15%;
  }
  #main {
    height: 100%;
    top: 0;
    box-shadow: none;
  }
  body.full #main {
    --offset: -9000px
  }
  #thanks {
    top: 25%;
  }
}
@media screen and (max-height: 375px) {
  #default-amounts {
    display: none;
  }
}
@media screen and (max-height: 360px) {
  #amounts {
    top: -20%;
  }
  #form {
    bottom: 20%;
  }
  #main {
    width: 100%;
    left: 0;
    border-radius: 0;
  }
  body.full #transactions {
    opacity: 0;
  }
}
@media screen and (max-width: 350px) {
  #transactions {
    display: none;
  }
}
@media screen and (max-width: 300px) {
  #default-amounts {
    width: 90%;
    left: 5%
  }
}
input[disabled] {
  opacity: 1;
  -webkit-text-fill-color: #000;
}

#error {
  display: inline-block;
  color: #d00;
  font-size: 17px;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 250px;
  left: calc(50% - 125px);
  border-radius: 0 0 10px 10px;
  margin-top: 0px;
  box-shadow: 0 4px 15px -10px #000;
  z-index: 2;
  background: #fff;
  box-sizing: border-box;
  transition: all .5s ease;
}
#amount-form {
  height: calc(100% - 50px);
  position: relative;
}

body.full #amount-form {
  pointer-events: none;
}
